In [6]:
import pandas as pd

data = pd.read_csv("combined_profile.csv")
data

,username,age,occupation,status,gender,filtered sentence,y
0,sandralee,19,student,single,female,Im really chill person looking someone chill I...,0
1,dayana16,19,estudiante,single,female,white Bisexual Other nonsmoker occasional drin...,0
2,Denn_,19,Estudiante,single,female,hispanic Bisexual Atheist nonsmoker never Fun ...,0
3,Gabrielita,19,Estudiante,single,female,hispanic Bisexual Christian nonsmoker never Se...,0
4,Luisa5401,19,Estudiante,single,female,hispanic Straight Other nonsmoker never Fun Fr...,0
...,...,...,...,...,...,...,...
7929,devortedman900,69,Engineer,widow,male,I told I great sense humour judge I would desc...,1
7930,antonie07,71,self employed,divorced,male,I determined cheerful happy whatever situation...,1
7931,wesleyclary,72,military,widow,male,Yea loving caring man honest fault always loya...,1
7932,charitywork,73,self-employed,widow,female,good investor good heart help needy poor,1
7933,jimmy438,74,self employed,widow,male,Im man likes take road less traveled I enjoy l...,1

In [7]:
data['status'].value_counts()

single                 3276
 single                1407
divorced               1396
widow                   999
separated               655
in relationship         108
married                  70
 separated               21
 single or divorced       2
Name: status, dtype: int64