In [53]:
# !pip install googletrans==4.0.0rc1
# pip install pyldavis
# !pip install easynmt
# nltk.download('omw-1.4')
pd.set_option("max_colwidth", None)

In [54]:
import gensim
from gensim.utils import simple_preprocess
import nltk.corpus
import nltk
import pandas as pd
import gensim.corpora
from langdetect import detect
from googletrans import Translator
from nltk.corpus import stopwords
import numpy
import time

#library that contains punctuation
import string
string.punctuation
from nltk.stem import WordNetLemmatizer

#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()

translater = Translator()

stop_words = stopwords.words('english')
stop_words.extend(['from', 'subject', 're', 'edu', 'use'])

In [55]:
data = pd.read_csv("eda/final_combined_profile.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8452 entries, 0 to 8451
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   username               8452 non-null   object
 1   age                    8450 non-null   float64
 2   occupation             8448 non-null   object
 3   status                 8452 non-null   object
 4   gender                 8452 non-null   object
 5   filtered sentence      8452 non-null   object
 6   Language               8452 non-null   object
 7   y                      8452 non-null   int64
 8   translated_occupation  8452 non-null   object
 9   status_lem             8452 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 660.4+ KB

In [56]:
data['translated_occupation']= data['translated_occupation'].apply(lambda x: x.lower())
data['translated_occupation'].nunique()
data

,username,age,occupation,status,gender,filtered sentence,Language,y,translated_occupation,status_lem
0,123canwe,66.0,Retired,single,male,I full fire friskier hell,tr,0,retired,single
1,123WILFREDO,28.0,ESTUDIANTE,single,male,ME GUSTA CONOCER CHICAS BONDADOSAS CARIÑOSAS Y MUY FUERTES EN LA MORAL,es,0,student,single
2,1907,48.0,Construction,single,male,laid back earth good sense humor,en,0,construction,single
3,52Jim52,70.0,Retired,divorced,male,Retired owner aerospace consuloting firm,da,0,retired,divorced
4,Aaron90,28.0,Social worker,single,male,Hello aaron Vermont I vermont 2 years Im really fun person I like camping bone fire etc,en,0,social worker,single
...,...,...,...,...,...,...,...,...,...,...
8447,zak123hicks,36.0,soldier,widowed,male,Im earth caring honest going loves fun vacation I die family country I want partner understanding loving loves laugh,af,1,soldier,widowed
8448,zarifa2,24.0,student,single,female,I never know I write part lameSo Im ordinary nerd high school student last year I study English Polish History subjects connected interests generally Im interersted much things Then I hope gratuade study something realated university Maybe museology I dont know I plans I spend free time mostly writing letters drawing writing stories reading books watching tv series playing games Im meet penpals common interests Addicted tea tumblr music Im typical introvert INFJ check type really describes well sometimes nerdy af Shy first thats I rarely write first sorry need courage,nl,1,student,single
8449,zerenab,31.0,self employment,single,female,I serious mature woman good valueslearned home Family first I respectful honest neat organized hardworking I wish find good person raise pretty family I like keep word I expect others I need sincere gentleman good manners intentions respectful detailing somebody likes standout work much life A man good feelings believes honesty perfect man,fr,1,self employment,single
8450,zikki100,36.0,nurse,single,female,Im good woman looking good man One best friend soulmate I seranade love song written run candle lit bathcook home cooked dinner Then settle snuggle couch romantic movie,ro,1,nurse,single
8451,zoey094,23.0,teacher,single,female,I would like meet man become life partner Someone loyal reliable thoughtful responsible I respect men clearly know want understand treat woman I prefer build relationship based mutual respect love understanding trusti would like meet man common interests goals life values make future plans together,en,1,teacher,single

In [57]:
#defining the function to remove punctuation
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree

#storing the puntuation free text
data['translated_occupation']= data['translated_occupation'].apply(lambda x:remove_punctuation(x))
data['translated_occupation'].nunique()

553

In [58]:
data['translated_occupation'].apply(lambda x:x.strip())
data

,username,age,occupation,status,gender,filtered sentence,Language,y,translated_occupation,status_lem
0,123canwe,66.0,Retired,single,male,I full fire friskier hell,tr,0,retired,single
1,123WILFREDO,28.0,ESTUDIANTE,single,male,ME GUSTA CONOCER CHICAS BONDADOSAS CARIÑOSAS Y MUY FUERTES EN LA MORAL,es,0,student,single
2,1907,48.0,Construction,single,male,laid back earth good sense humor,en,0,construction,single
3,52Jim52,70.0,Retired,divorced,male,Retired owner aerospace consuloting firm,da,0,retired,divorced
4,Aaron90,28.0,Social worker,single,male,Hello aaron Vermont I vermont 2 years Im really fun person I like camping bone fire etc,en,0,social worker,single
...,...,...,...,...,...,...,...,...,...,...
8447,zak123hicks,36.0,soldier,widowed,male,Im earth caring honest going loves fun vacation I die family country I want partner understanding loving loves laugh,af,1,soldier,widowed
8448,zarifa2,24.0,student,single,female,I never know I write part lameSo Im ordinary nerd high school student last year I study English Polish History subjects connected interests generally Im interersted much things Then I hope gratuade study something realated university Maybe museology I dont know I plans I spend free time mostly writing letters drawing writing stories reading books watching tv series playing games Im meet penpals common interests Addicted tea tumblr music Im typical introvert INFJ check type really describes well sometimes nerdy af Shy first thats I rarely write first sorry need courage,nl,1,student,single
8449,zerenab,31.0,self employment,single,female,I serious mature woman good valueslearned home Family first I respectful honest neat organized hardworking I wish find good person raise pretty family I like keep word I expect others I need sincere gentleman good manners intentions respectful detailing somebody likes standout work much life A man good feelings believes honesty perfect man,fr,1,self employment,single
8450,zikki100,36.0,nurse,single,female,Im good woman looking good man One best friend soulmate I seranade love song written run candle lit bathcook home cooked dinner Then settle snuggle couch romantic movie,ro,1,nurse,single
8451,zoey094,23.0,teacher,single,female,I would like meet man become life partner Someone loyal reliable thoughtful responsible I respect men clearly know want understand treat woman I prefer build relationship based mutual respect love understanding trusti would like meet man common interests goals life values make future plans together,en,1,teacher,single

In [59]:
#defining the function for lemmatization
def lemmatizer(text):
    lemm_text = wordnet_lemmatizer.lemmatize(text)
    return lemm_text

data['translated_occupation_lem']=data['translated_occupation'].apply(lambda x:lemmatizer(x))

In [60]:
data

,username,age,occupation,status,gender,filtered sentence,Language,y,translated_occupation,status_lem,translated_occupation_lem
0,123canwe,66.0,Retired,single,male,I full fire friskier hell,tr,0,retired,single,retired
1,123WILFREDO,28.0,ESTUDIANTE,single,male,ME GUSTA CONOCER CHICAS BONDADOSAS CARIÑOSAS Y MUY FUERTES EN LA MORAL,es,0,student,single,student
2,1907,48.0,Construction,single,male,laid back earth good sense humor,en,0,construction,single,construction
3,52Jim52,70.0,Retired,divorced,male,Retired owner aerospace consuloting firm,da,0,retired,divorced,retired
4,Aaron90,28.0,Social worker,single,male,Hello aaron Vermont I vermont 2 years Im really fun person I like camping bone fire etc,en,0,social worker,single,social worker
...,...,...,...,...,...,...,...,...,...,...,...
8447,zak123hicks,36.0,soldier,widowed,male,Im earth caring honest going loves fun vacation I die family country I want partner understanding loving loves laugh,af,1,soldier,widowed,soldier
8448,zarifa2,24.0,student,single,female,I never know I write part lameSo Im ordinary nerd high school student last year I study English Polish History subjects connected interests generally Im interersted much things Then I hope gratuade study something realated university Maybe museology I dont know I plans I spend free time mostly writing letters drawing writing stories reading books watching tv series playing games Im meet penpals common interests Addicted tea tumblr music Im typical introvert INFJ check type really describes well sometimes nerdy af Shy first thats I rarely write first sorry need courage,nl,1,student,single,student
8449,zerenab,31.0,self employment,single,female,I serious mature woman good valueslearned home Family first I respectful honest neat organized hardworking I wish find good person raise pretty family I like keep word I expect others I need sincere gentleman good manners intentions respectful detailing somebody likes standout work much life A man good feelings believes honesty perfect man,fr,1,self employment,single,self employment
8450,zikki100,36.0,nurse,single,female,Im good woman looking good man One best friend soulmate I seranade love song written run candle lit bathcook home cooked dinner Then settle snuggle couch romantic movie,ro,1,nurse,single,nurse
8451,zoey094,23.0,teacher,single,female,I would like meet man become life partner Someone loyal reliable thoughtful responsible I respect men clearly know want understand treat woman I prefer build relationship based mutual respect love understanding trusti would like meet man common interests goals life values make future plans together,en,1,teacher,single,teacher

In [61]:
data['translated_occupation_lem'].value_counts()

student                     588
engineer                    504
self employed               445
military                    409
retired                     266
                           ...
trabajador independiente      2
quality inspector             2
event planner                 2
sales consultant              1
inversionista                 1
Name: translated_occupation_lem, Length: 548, dtype: int64

In [62]:
data['translated_occupation_lem'].unique()

array(['retired', 'student', 'construction', 'social worker', 'executive',
       'journalist', 'designer', 'chef', 'entrepreneur', 'medical',
       'sale', 'service', 'author', 'engineer', 'teacher', 'care worker',
       'collection', 'chofer', 'lawyer', 'disabled', 'it technician',
       'self employed', 'waitress', 'manager', 'agricultural contractor',
       'architect', 'phd student', 'marketing', 'telecommunication',
       'health', 'selfemployed', 'tech', 'handyman', 'civil engineer',
       'management', 'business', 'nurse', 'educator', 'engineering',
       'airline pilot', 'artist', 'systems engineer',
       'operations manager', 'musician', 'factory worker', 'doctor',
       'higher education', 'restaurant', 'electrician', 'government',
       'carpenter', 'unemployed', 'retire', 'education', 'business owner',
       'laborer', 'welder', 'transport', 'healthcare', 'receptionist',
       'ing industrial', 'food service', 'surveyor', 'plumber',
       'graphic designer', 'janitor', 'contractor', 'foreman', 'merchant',
       'business manager', 'independent', 'craftsman', 'administrative',
       'health care', 'semiretired', 'finance', 'retail', 'admin',
       'stay at home mom', 'administrator', 'consultant', 'driver', 'csr',
       'no job', 'technology', 'security officer', 'writer',
       'construction superintendent', 'chemical', 'mechanic',
       'business administrator', 'detail', 'dishwasher', 'auditor',
       'data analyst', 'employed', 'officer', 'cook', 'accounting',
       'administration', 'housekeeping', 'cleaner', 'cashier',
       'assistant', 'it', 'building', 'secretary', 'investor', 'producer',
       'college student', 'bookkeeper', 'lecturer', 'english teacher',
       'software engineer', 'dentist', 'adviser', 'military',
       'accountant', 'freelancer', 'web designer', 'remodel',
       'translator', 'studying', 'medico', 'software developer',
       'forklift operator', 'security', 'official', 'researcher',
       'tattoo artist', 'manufacturing', 'project manager',
       'truck driver', 'nursing', 'bartender', 'male nurse', 'free lance',
       'courier', 'operator', 'disability', 'pharmacist', 'caregiver',
       'bus driver', 'teaching', 'horticulturist', 'dietary aide',
       'technician', 'cna', 'contador', 'none', 'bank', 'tourist guide',
       'profesora', 'businessman', 'system technique', 'psychotherapist',
       'business administration', 'own bussines', 'economist',
       'physician', 'chemist', 'therapist', 'a nurse', 'supervisor',
       'sales manager', 'personal trainer', 'rn', 'barber', 'autonomous',
       'customer service', 'developer', 'trader', 'delivery man',
       'concrete finisher', 'managing director', 'real estate',
       'office worker', 'withdrawn', 'financial advisor',
       'information technology', 'salesman', 'transportation', 'legal',
       'housekeeper', 'it project manager', 'hvac',
       'small business owner', 'medical assistant', 'warehouse',
       'logistics', 'retired nurse', 'ceo', 'account manager',
       'pensioner', 'waiter', 'realtor', 'maintenance', 'director',
       'pilot', 'photographer', 'landscaping', 'management consultant',
       'painter', 'automotive', 'government worker', 'programmer',
       'general contractor', 'baker', 'psychologist', 'sawmill worker',
       'company owner', 'tutor', 'self', 'machinist', 'attorney',
       'self employer', 'homemaker', 'trade', 'security guard', 'seller',
       'assistant manager', 'saleswoman', 'social communicator',
       'pharmaceutical', 'study', 'informatico', 'owner', 'stylist',
       'freelance', 'university', 'accountancy', 'barista',
       'degree in administration', 'singer', 'own business',
       'enterprising', 'certified public accountant', 'a lawyer',
       'housewife', 'profesor', 'self employed contractor',
       'high school teacher', 'law', 'independent work', 'analyst',
       'agriculture', 'i photograph', 'furniture', 'electronic engineer',
       'customer support', 'commercial advisor', 'conductor',
       'various trades', 'insurance', 'industrial engineer',
       'study and work', 'electrical technician', 'mechanical engineer',
       'universidad', 'primary school teacher', 'tailor',
       'automotive technician', 'installer', 'computer', 'public server',
       'regardless', 'cocina', 'atm', 'heavy machinery mechanic', 'clerk',
       'beautician', 'hospitality', 'constructor', 'nutritionist',
       'physiotherapist', 'commercial', 'sales executive', 'cosmetologa',
       'paralegal', 'cocinero', 'music producer', 'teacher of english',
       'independent worker', 'roofer', 'advertising', 'technical',
       'farmer', 'attendee', 'security agent',
       'telecommunications technician', 'uber', 'withdrawal', 'superior',
       'own', 'photography', 'investigator', 'maestro', 'sales rep',
       'dealer', 'medicine', 'interpreter', 'cpa', 'to study',
       'i dont work', 'casa', 'hostelry', 'health area',
       'constructor civil', 'engineer electronic', 'electronic',
       'vigilante', 'kitchen assistant', 'material handler', 'qa',
       'worker', 'fashion designer', 'campo', 'concierge',
       'sales consultant', 'industrial mechanic', 'ing civil',
       'probation officer', 'communicator', 'trailero', 'rancher',
       'company administrator', 'administrative assistant', 'nanny',
       'human resources', 'pensionada', 'financial', 'labor', 'ing',
       'home', 'albanil', 'cabby', 'business advisor', 'call center',
       'chapista', 'civil servant', 'sales agent', 'ing agronomo',
       'technical support', 'scientist', 'hotel', 'guardia',
       'ing mecanico', 'police', 'electric', 'mental health', 'typist',
       'agronomist', 'unemployment', 'athlete', 'policeman', 'fitter',
       'system', 'mechanical engineering', 'computer engineer',
       'public employment', 'coach', 'accounting assistant', 'licensed',
       'civil engineering', 'trabajador independiente', 'manicurist',
       'quality inspector', 'adm asst', 'massage therapist',
       'baby sister', 'turismo', 'electronics', 'deejay',
       'electronic technician', 'carrier', 'pharmacy assistant',
       'pharmaceutical chemist', 'comerciante', 'sub chef',
       'machine operator', 'library', 'law degree', 'businesswoman',
       'work', 'agricultural engineer', 'soccer player', 'sales advisor',
       'electricity', 'cfo', 'commercial manager', 'informatica',
       'craftswoman', 'professor', 'cowboy', 'environmentalist', 'chief',
       'paint', 'small businessman', 'employee', 'guerrero', 'tour guide',
       'real estate agent', 'aesthetic', 'bodega',
       'electro mechanical technician', 'patient assistant', 'builder',
       'dj', 'working on my own', 'sport', 'biologist', 'in sistemas',
       'banker', 'fedex', 'work and study', 'marino',
       'mechanical technician', 'construccion',
       'admnistrative technician', 'enterprise administrator',
       'public employee', 'veterinarian', 'worked', 'publicist',
       'in the system', 'inversionista', 'remodelacion', 'counselor',
       'cosmetology', 'barman', 'hotel manager', 'oil',
       'military retired', 'hairdresser', 'music', 'economy',
       'systems analyst', 'medic', 'psychology student', 'stockbroker',
       'refrigeration technician', 'gardener', 'own account',
       'financial services', 'university lecturer', 'amazon',
       'architecture', 'warehouse operator', 'company', 'vet', 'beauty',
       'financier', 'law student', 'sailor', 'nursing assistant', 'md',
       'dental assistant', 'electromecanico', 'shooting guard',
       'office assistant', 'office', 'retail manager', 'medical doctor',
       'truckdriver', 'building contractor', 'army',
       'structural engineer', 'consulting', 'petroleum engineer',
       'seaman', 'military officer', 'marine engineer', 'military army',
       'model', 'business man', 'military service', 'sales and marketing',
       'medical or finance', 'us army', 'marketer', 'soldier', 'trading',
       'underground mining', 'independent contractor', 'hairstylist',
       'construction engineer', 'in', 'many', 'modelling',
       'sales  marketing', 'marine engineering', 'business lady',
       'business woman', 'navy', 'pediatrician', 'geologist',
       'united state army', 'militery', 'travel agent', 'service man',
       'military doctor', 'surgeon', 'project management', 'military man',
       'hair stylist', 'defence', 'self employ', 'banking',
       'army officer', 'make up artist', 'sales girl', 'fashion',
       'barrister', 'financial consultant', 'army general',
       'self employee', 'building engineer', 'professional',
       'building construction', 'military or construction', 'force',
       'bank manager', 'engineer or military', 'art', 'military nurse',
       'militry', 'buying and selling', 'construction engineering',
       'oil and gas engineer', 'construction contractor',
       'general surgeon', 'shopkeeper', 'electrical engineer', 'modeling',
       'medical nurse', 'civil service', 'drilling offshore',
       'chemical engineering', 'sales person', 'sales marketing',
       'goverment', 'chemical supplier', 'petroleum engineering',
       'self employment', 'united nations', 'captain', 'salesmarketing',
       'event planner'], dtype=object)

In [63]:
# data1 = pd.read_csv("data_cat_draft.csv")
# data1.drop(data1.columns.difference(['username','translated_occupation_category']), 1, inplace=True)
# data = data.merge(data1,how='left', left_on='username', right_on='username')
# data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8454 entries, 0 to 8453
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   username                        8454 non-null   object
 1   age                             8452 non-null   float64
 2   occupation                      8450 non-null   object
 3   status                          8454 non-null   object
 4   gender                          8454 non-null   object
 5   filtered sentence               8454 non-null   object
 6   Language                        8454 non-null   object
 7   y                               8454 non-null   int64
 8   translated_occupation           8454 non-null   object
 9   status_lem                      8454 non-null   object
 10  translated_occupation_lem       8454 non-null   object
 11  translated_occupation_category  2050 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 858.6+ KB

/var/folders/29/2m5z5b_s3298ch9l_66c_x700000gn/T/ipykernel_1562/2409188320.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data1.drop(data1.columns.difference(['username','translated_occupation_category']), 1, inplace=True)

## Manual Categorisation

In [522]:
#sample of how we did manual categorisation since Topic Modelling did not work for us
for index, row in data.iterrows():
    if "student" == row['translated_occupation_category']:
        data.at[index , 'translated_occupation_category'] = "education"

In [518]:
#filling in those with no category with others
data['translated_occupation_category'].fillna('others',inplace=True)

In [526]:
data['translated_occupation_category'].nunique()

20

In [525]:
data[data['translated_occupation_category'].isna()]['translated_occupation_lem'].unique()

array([], dtype=object)

In [530]:
data['translated_occupation_category'].value_counts()

self employed    1343
education        1024
engineer          912
office            683
construction      596
military          590
service           549
medical           548
manager           407
trade             346
retired           286
media             209
art               167
government        162
finance           150
transport         139
tech              119
unemployed        108
others             99
science            17
Name: translated_occupation_category, dtype: int64

In [529]:
data.to_csv("final_data_cleaned.csv",index=False)

## Extra! Attempted Topic Modelling to Automate Categorising of Job but ineffective

In [532]:
topic_data = pd.read_csv("eda/final_combined_profile.csv")
topic_data.head()

,username,age,occupation,status,gender,filtered sentence,Language,y,translated_occupation,status_lem
0,123canwe,66.0,Retired,single,male,I full fire friskier hell,tr,0,Retired,single
1,123WILFREDO,28.0,ESTUDIANTE,single,male,ME GUSTA CONOCER CHICAS BONDADOSAS CARIÑOSAS Y MUY FUERTES EN LA MORAL,es,0,STUDENT,single
2,1907,48.0,Construction,single,male,laid back earth good sense humor,en,0,Construction,single
3,52Jim52,70.0,Retired,divorced,male,Retired owner aerospace consuloting firm,da,0,Retired,divorced
4,Aaron90,28.0,Social worker,single,male,Hello aaron Vermont I vermont 2 years Im really fun person I like camping bone fire etc,en,0,Social worker,single

In [533]:
def sent_to_words(sentences):
    for sentence in sentences:
        # deacc=True removes punctuations
        yield(gensim.utils.simple_preprocess(str(sentence), deacc=True))

In [534]:
odata_words = list(sent_to_words(topic_data['translated_occupation']))

In [535]:
def flatten(lis):
    flatList = []
    # Iterate with outer list
    for element in lis:
        if type(element) is list:
            # Check if type is list than iterate through the sublist
            for item in element:
                flatList.append(item)
        else:
            flatList.append(element)
    return flatList

In [536]:
odata_flatten = flatten(odata_words)
odata_flatten
# odata_words
print(odata_flatten[:30])

['retired', 'student', 'construction', 'retired', 'social', 'worker', 'retired', 'executive', 'journalist', 'designer', 'retired', 'chef', 'entrepreneur', 'student', 'retired', 'medical', 'sales', 'service', 'author', 'engineer', 'retired', 'teacher', 'care', 'worker', 'collection', 'chofer', 'lawyer', 'engineer', 'disabled', 'it']

In [537]:
import gensim.corpora as corpora
# # Create Dictionary
id2word = corpora.Dictionary(odata_words)
# Create Corpus
texts = odata_words
# Term Document Frequency
corpus = [id2word.doc2bow(text) for text in texts]
# View
print(corpus[:1][0][:30])

[(0, 1)]

In [538]:
from pprint import pprint
# number of topics
num_topics = 10
# Build LDA model
lda_model = gensim.models.LdaMulticore(corpus=corpus,
                                       id2word=id2word,
                                       num_topics=num_topics)
# Print the Keyword in the 10 topics
pprint(lda_model.print_topics())
doc_lda = lda_model[corpus]

[(0,
  '0.098*"independent" + 0.085*"student" + 0.079*"military" + 0.039*"chef" + '
  '0.038*"manager" + 0.035*"administrator" + 0.025*"electrician" + '
  '0.024*"architect" + 0.017*"building" + 0.017*"selfemployed"'),
 (1,
  '0.187*"teacher" + 0.061*"accountant" + 0.034*"business" + '
  '0.025*"administrative" + 0.024*"sales" + 0.024*"education" + '
  '0.022*"military" + 0.017*"transport" + 0.017*"farmer" + 0.015*"manager"'),
 (2,
  '0.451*"engineer" + 0.032*"trade" + 0.027*"civil" + 0.025*"retired" + '
  '0.025*"contador" + 0.021*"construction" + 0.019*"building" + 0.017*"driver" '
  '+ 0.014*"marine" + 0.014*"psychologist"'),
 (3,
  '0.122*"retired" + 0.109*"sales" + 0.071*"technician" + 0.055*"entrepreneur" '
  '+ 0.043*"lawyer" + 0.033*"profesor" + 0.030*"business" + 0.029*"doctor" + '
  '0.024*"construction" + 0.019*"nurse"'),
 (4,
  '0.169*"military" + 0.107*"student" + 0.069*"lawyer" + 0.061*"mechanic" + '
  '0.028*"self" + 0.026*"engineer" + 0.024*"employed" + 0.022*"designer" + '
  '0.015*"building" + 0.014*"graphic"'),
 (5,
  '0.109*"student" + 0.107*"military" + 0.075*"employed" + 0.073*"self" + '
  '0.056*"retired" + 0.049*"doctor" + 0.038*"contractor" + 0.029*"independent" '
  '+ 0.027*"engineering" + 0.020*"medical"'),
 (6,
  '0.164*"business" + 0.096*"employed" + 0.096*"self" + 0.068*"merchant" + '
  '0.047*"contractor" + 0.041*"owner" + 0.037*"independent" + 0.029*"worker" + '
  '0.019*"administrator" + 0.016*"administration"'),
 (7,
  '0.232*"student" + 0.074*"self" + 0.068*"employed" + 0.055*"merchant" + '
  '0.043*"entrepreneur" + 0.030*"engineering" + 0.028*"manager" + '
  '0.022*"architect" + 0.020*"government" + 0.011*"driver"'),
 (8,
  '0.144*"nurse" + 0.092*"self" + 0.088*"employed" + 0.052*"engineer" + '
  '0.033*"construction" + 0.028*"manager" + 0.026*"carpenter" + '
  '0.023*"military" + 0.023*"civil" + 0.022*"administrator"'),
 (9,
  '0.102*"selfemployed" + 0.086*"teacher" + 0.068*"army" + '
  '0.039*"construction" + 0.038*"retired" + 0.034*"security" + 0.026*"us" + '
  '0.025*"self" + 0.024*"nurse" + 0.022*"economist"')]

In [544]:
topic_data['translated_occupation'].value_counts()

military            370
student             355
self employed       319
engineer            263
Engineer            236
                   ...
None                  2
Cowboy                2
event planner         2
Inversionista         1
sales consultant      1
Name: translated_occupation, Length: 754, dtype: int64